* {
  box-sizing: border-box;
}

.welcome {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: "Poppins", sans-serif;
}

.container1 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.container {
  margin-top: 8vh;
  margin: auto;
}
.team {
  background-color: rgb(188 208 219);
  border: 2px solid blanchedalmond;
  border-radius: 10px;
  width: 28%;
  margin: 2%;
}
img {
  height: 25vh;
  width: 90%;
  max-width: 200px;
}
.image {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}
.position {
  text-align: center;
  color: brown;
}
.name {
  margin: 1vh;
  text-align: center;
}
.fab {
  margin-left: 0.5vw;
  cursor: pointer;
}
.fas {
  margin-left: 0.3vw;
  cursor: pointer;
}

/* web team data  */
.web-team {
  background-color: black;
  width: 100vw;
  margin: auto;
}
.web-team-heading {
  text-align: center;
  color: white;
}
.team1 {
  background-color: rgb(22 87 110 / 49%);
  /* height: 1fr; */
  border: 10px solid #e496adbd;
  width: 28%;
  margin: 2%;
}
.name1 {
  color: white;
  text-align: center;
}


/* responsive */
@media screen and (max-width: 600px) {
  .container1 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .team1 {
    width: 80%;
    margin: 2%;
  }
  .team {
    width: 80%;
    margin: 2%;
  }
  .fab {
    margin-left: 2vw;
    cursor: pointer;
  }
  .fas {
    margin-left: 1vw;
    cursor: pointer;
  }
}
